// Abstracts: handles function, mixins, and variables

// ------ Color brand ------

$red: #F7444E;          // Blood Burst
$off-white: #F7F8F3;    // Whitest White
$aqua:  #78BCC4;        // Aqua Vitale
$dark-blue: #002C3E;      // Deep Midnight
