// Base: animations, base, typography, and utilies.
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body {
    margin: 0;
    padding: 0;
}

h1 { font-size: 3em; font-weight: bold; margin: 0;}
h2 { font-size: 1.5em; font-weight: bold; margin: 0;}
h3 { font-size: 1.17em; font-weight: bold; margin: 0;}
h4 { font-size: 1.12em; font-weight: bold; margin: 0;}
h5 { font-size: .83em; font-weight: bold; margin: 0;}
h6 { font-size: .75em; font-weight: bold; margin: 0;}

p, a, span { font-size: 1em; font-family: 'Roboto', sans-serif;}
